

.content {
  flex-grow: 1; /* Allow the content to take up remaining vertical space */
  overflow-y: auto; /* Enable vertical scrolling for content if needed */
}

/* Add any other custom styles for your header component */
.App {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.Header {
  flex-basis: 100%;
}

.Component {
  flex-basis: calc(50% - 20px); /* Adjust width to accommodate spacing */
  margin: 10px; /* Add spacing between components */
}
